* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  font-weight: 200;
}

body {
  background: black;
  color: black;
}

span {
  font-weight: 500;
}

.timeline {
  background: black;
  margin: 0 auto;
  position: relative;
  max-width: 1000px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container {
  padding: 10px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FFD846;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.container h3 {
  color: #356C9B;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.content {
  padding: 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

.text {
  padding: 20px;
}

.right::after {
  left: -16px;
}

img {
  display: flex;
  margin: 0 auto;
  width: 400px;
}

@media screen and (max-width: 800px) {
  .timeline::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .left::after, .right::after {
    left: 15px;
  }

  .right {
    left: 0%;
  }

  img {
    height: 100px;
    width: 100%;
  }
}